<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TAMAGOTCHI</title>
  </head>
  <body>
    <h1>Add a new Pet</h1>

    <form action="/pets" method="post">
      <label for="name">Whats your pets name?</label>
      <input id="name" name="name" type="text">
      <button type="submit">Create Pet</button>

    </form>
  </body>
</html>
