<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>TAMAGOTCHI</title>
  </head>
  <body>
    <h1><em><strong>You made it tooo....</em></strong></h1>
    <h1 class="container">TAMAGOTCHI!!!<3</h1>
    <h1>What would you like to do?</h1>
    @* <a href="/pets/new">Create New Tamagotchi</a>
    <a href="/pets">My Tamagotchi</a> *@
  </body>
</html>
